<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162393159264-3pjiv4brj9mcfuvae0ir5vejkdeaae6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162393159264-3pjiv4brj9mcfuvae0ir5vejkdeaae6b</string>
	<key>API_KEY</key>
	<string>AIzaSyD6WlMFOg3HVqqCcWuJKwg_HU41tpKQxV8</string>
	<key>GCM_SENDER_ID</key>
	<string>162393159264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterJobSeeking</string>
	<key>PROJECT_ID</key>
	<string>jobai-a1c15</string>
	<key>STORAGE_BUCKET</key>
	<string>jobai-a1c15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162393159264:ios:2446576507e6f0b34bf505</string>
</dict>
</plist>